
.jGrowl-close {
    background-color: #21bf73 !important;
}

.oferta-alert {
    top: -19.6px;
    left: 1.5px;
    display: block;
}

.oferta-arrow {
    border-top-color: #00bd56 !important;
}

.oferta-inner {
    background-color: #00bd56 !important;
}

.typeheader-2 .wishlist-comp li {
    width: 30px !important;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.products-list .product-grid .product-item-container .left-block .button-group .loading:before {
    content: "\f021";
    display: block;
    font-family: 'FontAwesome';
    position: absolute !important;
    font-size: 16px !important;
    -webkit-animation: rotate 2s linear infinite;
}

.products-list .product-grid .product-item-container .left-block .button-group .loading span, .products-list .product-grid .product-item-container .left-block .button-group .loading .fa {
    visibility: hidden;
}

.products-list .product-grid .product-item-container .left-block .button-group .btn-button:hover span {
    visibility: visible;
    transform: translateX(0);
}

.products-list .product-item-container .left-block .button-group .loading:before {
    content: "\f021";
    display: block;
    font-family: 'FontAwesome';
    position: absolute !important;
    font-size: 16px !important;
    -webkit-animation: rotate 2s linear infinite;
}

.products-list .product-item-container .left-block .button-group .loading span, .products-list .product-item-container .left-block .button-group .loading .fa {
    visibility: hidden;
}

.products-list .product-item-container .left-block .button-group .btn-button:hover span {
    visibility: visible;
    transform: translateX(0);
}

.products-list .product-item-container .right-block .list-block .loading:before {
    content: "\f021";
    display: block;
    font-family: 'FontAwesome';
    position: absolute !important;
    font-size: 16px !important;
    -webkit-animation: rotate 2s linear infinite;
}

.products-list .product-item-container .right-block .list-block .loading span, .products-list .product-item-container .right-block .list-block .loading .fa {
    visibility: hidden;
}

.products-list .product-item-container .right-block .list-block .btn-button:hover span {
    visibility: visible;
    transform: translateX(0);
}

.shoppingcart-box{
    width:350px;
}

.header-menu-active > a {
   color: #ff3c20 !important;
}

button.btn-button.disabled, fieldset[disabled] button.btn-button{
    pointer-events: none;
}