
.jGrowl-close {
    background-color: #21bf73 !important;
}

.oferta-alert {
    top: -19.6px;
    left: 1.5px;
    display: block;
}

.oferta-arrow {
    border-top-color: #21bf73 !important;
}

.oferta-inner {
    background-color: #21bf73 !important;
}
