.loader_page {
    background: rgba(255, 255, 255, 0.8) url('../../Files/images/loader.svg') no-repeat center center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.loader_page_add_cart {
    background: rgba(255, 255, 255, 0.8) url('../../Files/images/loader.svg') no-repeat center center;
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

    #cart-content-xss {
        overflow: auto;
        max-height: 600px;
    }

/* Tamaño del scroll */
#cart-content-xss::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilos barra (thumb) de scroll */
#cart-content-xss::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

    #cart-content-xss::-webkit-scrollbar-thumb:active {
        background-color: #999999;
    }

    #cart-content-xss::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

/* Estilos track de scroll */
#cart-content-xss::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

    #cart-content-xss::-webkit-scrollbar-track:hover,
    #cart-content-xss::-webkit-scrollbar-track:active {
        background: #d4d4d4;
    }
