.loader_fb_16x16 {
            background: rgba(0, 0, 0, 0.4) url(../../src/images/loading.gif) no-repeat center center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index:999;
        }
table thead th {

    text-align:center !important;
}
.table-bordered > tbody > tr > td.tdRight {
    text-align:right !important;
}
.table-bordered > tbody > tr > td {
    text-align:center !important;
}